{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body class="login-body">
    <div class="login-container">
        <form class="login-form" method="POST" action="{{ url_for('login') }}">
            <h2>กรุณาล็อกอินเพื่อเข้าสู่ระบบ Admin</h2>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="flash-error">{{ messages[0] }}</div>
              {% endif %}
            {% endwith %}

            <div class="form-group">
                <label for="email">Username/Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">เข้าสู่ระบบ</button>
        </form>
    </div>
</body>
{% endblock %}